@model IEnumerable<WebViecLam.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manage Job</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="w3-container">
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-light-grey">
                <th> @Html.DisplayNameFor(model => model.JobName)</th>
                <th> @Html.DisplayNameFor(model => model.JobStatus)</th>
                <th> @Html.DisplayNameFor(model => model.JobQuantity)</th>
                <th> @Html.DisplayNameFor(model => model.JobDescription)</th>
                <th> @Html.DisplayNameFor(model => model.JobCreated)</th>
               
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model) {
        <tr>
                <td>  @Html.DisplayFor(modelItem => item.JobName)</td>
                <td>  @Html.DisplayFor(modelItem => item.JobStatus)</td>
                <td>  @Html.DisplayFor(modelItem => item.JobQuantity)</td>
                <td>  @Html.DisplayFor(modelItem => item.JobDescription)</td>
                <td>  @Html.DisplayFor(modelItem => item.JobCreated)</td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
                </td>
        </tr>
        
        }
    </table>
</div>
