@model WebViecLam.Models.Job

@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/Shared/_DetailView.cshtml";
}

<div class="container">
	<!-- row -->
	<div class="row">
		<!-- Product main img -->
		<div class="col-md-5 col-md-push-2">
			<div id="product-main-img" class="slick-initialized slick-slider">
				<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
				<div class="slick-list draggable">
					<div class="slick-track" style="opacity: 1; width: 2880px;">
						<div class="product-preview slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 720px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; overflow: hidden;">
							<img src="./img/product01.png" alt="">
							<img role="presentation" src="file:///D:/electro-master/electro-master/img/product01.png" class="zoomImg" style="position: absolute; top: 61.0667px; left: 115.133px; opacity: 0; width: 600px; height: 600px; border: none; max-width: none; max-height: none;">
						</div><div class="product-preview slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 720px; position: relative; left: -720px; top: 0px; z-index: 998; opacity: 0; overflow: hidden;">
							<img src="./img/product03.png" alt="">
							<img role="presentation" src="file:///D:/electro-master/electro-master/img/product03.png" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 600px; height: 600px; border: none; max-width: none; max-height: none;">
						</div><div class="product-preview slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 720px; position: relative; left: -1440px; top: 0px; z-index: 998; opacity: 0; overflow: hidden;">
							<img src="./img/product06.png" alt="">
							<img role="presentation" src="file:///D:/electro-master/electro-master/img/product06.png" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 600px; height: 600px; border: none; max-width: none; max-height: none;">
						</div><div class="product-preview slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 720px; position: relative; left: -2160px; top: 0px; z-index: 998; opacity: 0; overflow: hidden;">
							<img src="./img/product08.png" alt="">
							<img role="presentation" src="file:///D:/electro-master/electro-master/img/product08.png" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 600px; height: 600px; border: none; max-width: none; max-height: none;">
						</div>
					</div>
				</div>






				<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
			</div>
		</div>
		<!-- /Product main img -->
		<!-- Product thumb imgs -->
		
		<!-- /Product thumb imgs -->
		<!-- Product details -->
		<div class="col-md-5">
			<div class="product-details">
				<h2 class="product-name">Vị trí tuyển dụng: @Model.JobName</h2>
				</div>
				<div>
				<p >Số lượng tuyển: @Model.JobQuantity </p>
				<p>Trạng thái: @Model.JobStatus</p>
				<p >Mô tả công việc: @Model.JobDescription</p>
				<p >Hạn ứng tuyển : @Model.JobCreated</p>
					
				</div>
			

	

			</div>
		</div>
		<!-- /Product details -->
		<!-- Product tab -->
		<div class="col-md-12">
			<div id="product-tab">
				<!-- product tab nav -->
				<ul class="tab-nav">
					<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
					<li><a data-toggle="tab" href="#tab2">Details</a></li>
					<li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
				</ul>
				<!-- /product tab nav -->
				<!-- product tab content -->
				<div class="tab-content">
					<!-- tab1  -->
					<div id="tab1" class="tab-pane fade in active">
						<div class="row">
							<div class="col-md-12">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<!-- /tab1  -->
					<!-- tab2  -->
					<div id="tab2" class="tab-pane fade in">
						<div class="row">
							<div class="col-md-12">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<!-- /tab2  -->
					<!-- tab3  -->
					<div id="tab3" class="tab-pane fade in">
						<div class="row">
							<!-- Rating -->
							<div class="col-md-3">
								<div id="rating">
									<div class="rating-avg">
										<span>4.5</span>
										<div class="rating-stars">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<ul class="rating">
										<li>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="rating-progress">
												<div style="width: 80%;"></div>
											</div>
											<span class="sum">3</span>
										</li>
										<li>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="rating-progress">
												<div style="width: 60%;"></div>
											</div>
											<span class="sum">2</span>
										</li>
										<li>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="rating-progress">
												<div></div>
											</div>
											<span class="sum">0</span>
										</li>
										<li>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="rating-progress">
												<div></div>
											</div>
											<span class="sum">0</span>
										</li>
										<li>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="rating-progress">
												<div></div>
											</div>
											<span class="sum">0</span>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Rating -->
							<!-- Reviews -->
							<div class="col-md-6">
								<div id="reviews">
									<ul class="reviews">
										<li>
											<div class="review-heading">
												<h5 class="name">John</h5>
												<p class="date">27 DEC 2018, 8:0 PM</p>
												<div class="review-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o empty"></i>
												</div>
											</div>
											<div class="review-body">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</li>
										<li>
											<div class="review-heading">
												<h5 class="name">John</h5>
												<p class="date">27 DEC 2018, 8:0 PM</p>
												<div class="review-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o empty"></i>
												</div>
											</div>
											<div class="review-body">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</li>
										<li>
											<div class="review-heading">
												<h5 class="name">John</h5>
												<p class="date">27 DEC 2018, 8:0 PM</p>
												<div class="review-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o empty"></i>
												</div>
											</div>
											<div class="review-body">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</li>
									</ul>
									<ul class="reviews-pagination">
										<li class="active">1</li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>
							<!-- /Reviews -->
							<!-- Review Form -->
							<div class="col-md-3">
								<div id="review-form">
									<form class="review-form">
										<input class="input" type="text" placeholder="Your Name">
										<input class="input" type="email" placeholder="Your Email">
										<textarea class="input" placeholder="Your Review"></textarea>
										<div class="input-rating">
											<span>Your Rating: </span>
											<div class="stars">
												<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
												<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
												<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
												<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
												<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
											</div>
										</div>
										<button class="primary-btn">Submit</button>
									</form>
								</div>
							</div>
							<!-- /Review Form -->
						</div>
					</div>
					<!-- /tab3  -->
				</div>
				<!-- /product tab content  -->
			</div>
		</div>
		<!-- /product tab -->
	</div>
	<!-- /row -->
</div>

